/* font-family: 'Pacifico', cursive; */

/* global */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: aliceblue;
}

body{
    font-family:'Pacifico', cursive;
    background-color: #2d2d2d;
}
ol,ul{
    list-style: none;
}

/* global container */
.container{
    width: 80%;
    margin: 0 auto;
}
/* navigation bar container */
.navbar-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.navbar{
    background-color: black;
}

.brand{
    font-size: 2.4rem
}

/* navbar list styling */
.navbar .navbar-items ul li{
    color: aliceblue;
    display: inline-block;
    margin: 1.25rem;
}

.navbar .navbar-items ul li:hover{
    color: lightcoral;
    cursor: pointer;
}