#b{
    height: 48px;
    width: 90px;
    background-color: rgb(61, 59, 59);
    color: white;
    border: 10px, white;
    box-sizing: border-box;
    border-style: none;
    border-radius: 20px;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
}
#b:hover{
    background-color: #F6F9FE;
    color: #3c4043;
    
}
#t{

  height: 50px;
  border-radius: 20px;
justify-self: ;}
body{
    /* background-color: black; */
}

.container{
  display: flex;
  flex-flow:row wrap ;
  background-color: black;
  height: 400px;
  justify-content: flex-end;
}
.container div{

  background-color: #ccc;
  color: black;
  padding: 20px;
  margin: 10px;
  height: 40px;
  border: none;
  border-radius: 10px;
}