body {
    
    height: 100%;
    width: 98%;
    background-color: #000000;
    background-image: url(../Aboutme/pictures/background2.jpg);
    background-repeat: no-repeat;
}
nav{
    background-color: #0000007a;
    width: 100%;
    padding: 1px;
    border-radius: 10px;
    position: sticky;
    display: flex;
    justify-content: space-between;
}

nav ul{
    
    list-style: none;
    display: flex;
    flex-flow: row;
    align-content: space-between;
    justify-content: space-evenly ;
    margin: 10px 10px;
}


a:hover{
    background-color: #dbdbdb51;
    /* color: #000000; */
    border: #ffffff;
    border-width: 10px;
    border-radius: 10px;
}

a{
    transition-duration: 0.2s;
    justify-content: space-evenly;
    align-content: space-between;
    font-family:'Inter', sans-serif;
    font-weight: 100px;
    padding: 5px;
    text-decoration: none;
    color: whitesmoke;
    cursor: pointer;
   
   
}
#home{
    margin-left: 1rem;
    align-self: center;
}

.container{
    display: flex;
    height:100% ;
    width: 100%;
    padding: 2rem;
    margin-top: 10%;
    background-color: transparent;
    align-content: center;
    justify-content: center;
    
}

.main{
    background-color: #e0e0e094 ;
    display: flex;
    flex-flow: column wrap;
    width: 20%;
    height: min-content;
    border-radius: 2rem;
    border: none;
    /* box-shadow: 5px 5px 18px 10px #9999999d; */
    padding: 4rem;
    margin-top: 2rem;
    align-content: center;
    justify-content: space-center;
    font-family: 'Roboto', sans-serif;
    font-weight: 100px;
    color: #fafafa90;
}
#calculate{
    transition-duration: 0.2s ;
    justify-self: center;
    align-self: center;
    margin : 1rem;
    width: min-content;
    background-color: transparent;
    border-style: solid;
    border-width: 1px;
    padding: 4px;
    border-color: white;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;

}
#calculate:hover{
    background-color: white;
    color: black;
}

#formula{
    transition-duration: 0.2s;
    justify-self: center;
    align-self: center;
    margin : 1rem;
    width: min-content;
    background-color: transparent;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 4px;
    color: rgb(0, 0, 0);
    cursor: pointer; 
    
} 

#formula:focus{
    outline: none;
    border-color: #000000

}  

p{
    color: white;
}

#disabled:hover{
    cursor: not-allowed;
}

#paragraph{
    font-size: xx-large;
}