body {
    
    height: 100%;
    width: 98%;
    background-color: #000000;
    background-image: url(../Aboutme/pictures/background.jpg);
    background-repeat: no-repeat;
}
nav{
    background-color: #0000007a;
    width: 100%;
    padding: 1px;
    border-radius: 10px;
    position: sticky;
    display: flex;
    justify-content: space-between;
}

nav ul{
    
    list-style: none;
    display: flex;
    flex-flow: row;
    align-content: space-between;
    justify-content: space-evenly ;
    margin: 10px 10px;
}


a:hover{
    background-color: #dbdbdb51;
    /* color: #000000; */
    border: #ffffff;
    border-width: 10px;
    border-radius: 10px;
}

a{
    transition-duration: 0.2s;
    justify-content: space-evenly;
    align-content: space-between;
    font-family:'Inter', sans-serif;
    font-weight: 100px;
    padding: 5px;
    text-decoration: none;
    color: whitesmoke;
    cursor: pointer;
   
   
}
#home{
    margin-left: 1rem;
    align-self: center;
}
.main {
    /* background-color: #c3c3c357 ; */
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    border-radius: 2rem;
    border: none;
    /* box-shadow: 5px 5px 18px 10px #9999999d; */
    padding: 1rem;
    margin-top: 2rem;
    margin-left: auto;
    align-content: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-weight: 100px;
    letter-spacing: 10;
    color: #ffffff;
}
.info{
text-align: center;
width: 30%;
/* color: #ffffff; */
}
.second{
    flex-wrap: wrap;
    background-color:rgba(245, 245, 245, 0.253) ;
    border-radius: 30px;
    padding: 1rem;
    margin :2rem ;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    width: 20%;
}
.link{
    padding: 1rem;
    font-family: inherit;
}
.link h3 a:hover{
    color: #c75717;
    background-color: transparent;
    border: none;
}

body .info{
    text-align: center;
    width: 100%;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-weight: 100px;
    letter-spacing: 10;
    }
.video-mask{
    margin: 23px auto;
    /* width: 854px; */
    /* height: 460px; */
    text-align: center;
    border-radius: 10px;
    background-color: #6f6f6f00;
    overflow: hidden;
    margin-bottom: 20%;
}


img{
    height: 128px; ;
    width: 128px;
    border-radius: 50% ;
}
.main-me{
    display: flex ;
    flex-flow: row,wrap;
    background-color:#c3c3c357 ;
    padding: 40px;
    width: 30%;
    border-radius: 30px;
    justify-content: center;
    align-content: center;
}
.txt-links{
    text-align: center;
    margin-left: 30%;
    font-family: 'Inter', sans-serif;
    font-size: large;
    
}
