/* 
body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center; 
    background: linear-gradient(to right , rgb(138, 20, 20) , rgb(172, 116, 11) ) ;

}
.main_body h1{

    letter-spacing: 0.2rem;
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-weight: 40px;
}
.main_body{
   
    width: 30%;
    height: 40%;
    background-color: rgba(255, 255, 255, 0.5); 
    border: 0.5rem;
    border-color: black;
    border-radius: 10px;
    text-align: center;
    
}
.color_buttons{
    border: none;
background-color: rgba(255, 255, 255, 0);

} */

body {
    /* display: flex; */
    height: 100%;
    width: 100%;
    background-color: #2f2f2f;
}
nav{
    background-color: #6f6f6f;
    width: 100%;
    padding: 1px;
    border-radius: 10px;
    position: sticky;
}

nav ul{
    
    list-style: none;
    display: flex;
    flex-flow: row;
    align-content: space-between;
    justify-content: space-evenly ;
}


a:hover{
    background-color: #892be251;
    border-radius: 10px;
}

a{
    justify-content: space-evenly;
    align-content: space-between;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100px;
    padding: 5px;
    text-decoration: none;
    color: whitesmoke;
    cursor: pointer;
   
   
}
.main {
    background-color: #c6b2d98f ;
    display: flex;
    flex-flow: row wrap;
    width: 98.5%;
    border-radius: 2rem;
    border: none;
    /* box-shadow: 5px 5px 18px 10px #9999999d; */
    padding: 1rem;
    margin-top: 2rem;
    align-content: center;
    justify-content: space-evenly;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 80px;
    letter-spacing: 1rem;
    color: #fafafa90;
}

.pallets {
    display: flex;
    flex-flow: column;
    margin-top: 1rem;
    border-style: solid;
    border-width: 0.1rem;
    border-radius: 1rem;
    border-color: black;
    padding: 7rem;
    height: 30rem;
    justify-content: space-between;
    align-items: center;
    
}

.linear{
    background:linear-gradient(to right,#8A1414,#AC740B)
}

.color-buttons{
   border-style: solid;
   border-radius: 3px;
   border-color: rgba(255, 255, 255, 0.438);
   padding: 1%;
   background-color: rgba(0, 0, 0, 0.3);
   cursor: pointer;
   
}
.solid{
    background-color: #8a2be2;
}
.solid1{
    background-color: #2b71e2;
}

.linear div div{
    letter-spacing: 0;
    display: flex;
    flex-direction: row;
}

#disabled:hover{
    cursor: not-allowed;
}