*{
    font-family: 'Roboto', sans-serif;
}
.body{
    width : 100%;
    height: 100%;
    background-color: antiquewhite;
}

a{
    text-decoration: none;
    padding: 10px;
    color: black;
}
.navbar{
    display:flex;
    flex-flow: row;
    justify-content: space-between;
}
.first{
    display: flex;
    padding: 10px;
}
.first div{
    margin-left: 10px;
}
.second{
    display: flex;
    padding: 10px;
}
.second div{
    margin-left: 10px;
}
.middlelist{
    padding: 10px;
}






.mainContainer{
    display: flex;
    height: 50%;
    margin-top: 10%;
}
.mainContainer h1 span{
    color : darkorange
}


.text{
    margin-left: 100px;
    width:60% ;
    
}

.pic img{
    margin-left: 5px;
    margin-right: 50px ;
    border-radius: 10%;
}

.buttons{
    margin-top: 20px;
    margin-right: 20px;
    padding: 15px;
    border-radius: 10px;
    border: 2px;
}

.dark{
    background-color: rgb(105, 105, 105);
    color: white;
    
}

.buttons i{
    margin-right: 4px;
}